
{% extends 'Bookapp/index.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h1> the largest library in the middle east</h1>
    <p> you con find any book about computing</p>

</div>

<div class="container">
    <div class="row">
        {%for dept in department%}
        <div class="col-sm-4">

            <h4> {{dept.code}} {{dept.name}}</h4>
            <hr class="my-1">
            <h6 class="text-muted">{{dept.dept_date}}</h6>
            <p> {{dept.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}